<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/efkangunbay/Desktop/Projeler Aktarım/MediaManagerTestAutomation">
        <classes>
            <class name="com.hepsiburada.runners.CukesRunner"></class>
        </classes>
    </test>
</suite>